{% load static %} <!--static lib을 사용함을 의미-->
<link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">

<h1>제목 : {{question.subject}} ~(>_<。)＼</h1>
<div>
    내용 : 
</div>
<div>
    {{question.content}}  ≡(▔﹏▔)≡
</div>

<h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{answer.content}}</li>
        {% endfor %}
    </ul>
</div>

{% comment %} <a href = "{% url 'index' %}">목록보기</a> {% endcomment %}
<a href = "{% url 'yannjuName:index' %}">목록보기</a> <!--네임스페이스 설정-->

<form action="{% url 'yannjuName:answer_create' question.id %}" method="post">
{% comment %} <form action="" method="post"> {% endcomment %}
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>    