@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
* {
    font-family: 'Poor Story', cursive;
}

.page-link {
    border : 0px;
}

.auth-form{
    width: 100%;
}

/*width 가 540이상이면 : 반응형 웹*/
@media(min-width:540px){
    .auth-form{
        width: 540px;
    }
}
@media(max-width:720px){
    .auth-form{
        width: 720px;
    }
}