<!-- 질문 댓글 -->
{% if question.comment_set.count > 0 %}
<div class='mt-3'>
    {% for comment in question.comment_set.all %}
        <a name="comment_{{ comment.id }}"></a>
        <div class='comment py-2 text-muted'>
            <span style='white-space: pre-line'>
                {{ comment.content }}
            </span>
            <span>
                - {{comment.auth}}, {{comment.create_date}}
                {% if comment.modify_date %}
                    (수정 : {{comment.modify_date}})
                {% endif %}
            </span>
            {% if request.user == comment.auth %}
                <a href="{% url 'yannjuName:comment_modify_question' comment.id %}" class='small'>
                    수정
                </a>
                
                <a href='#' class='small delete' data-uri="{% url 'yannjuName:comment_delete_question' comment.id %}">
                    삭제
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
<div>
<a href = "{% url 'yannjuName:comment_create_question' question.id %}" class='small'>
    <small> 댓글추가 . . . </small>
</a>
</div>