{% extends 'base.html' %}

{% block content %}

<div class='container my-3'>
    <!--사용자 오류 표시-->
    <div>
        {% if messages %}
            <div class='alert alert-danger my-3' role = 'alert'>
                    {% for message in messages %}
                        <strong>{{message.tag}}</strong>
                        <ul><li>{{message.message}}</li></ul>
                    {% endfor %}
            </div>
        {% endif %}
    </div>

    <h2 class = "border-bottom py-2">
        <i class="fa-solid fa-person-circle-question"></i>
        {{question.subject}} ~(>_<。)＼
    </h2>
    <span>
        작성자 : 
        <strong>
            {{question.auth.username}}
        </strong>
    </span>
    {% if request.user == question.auth %}
        <span class='mx-3'>
            {% comment %} '{% url 'yannjuName:question_modify question.id ' %}' {% endcomment %}
            <a href ='{% url 'yannjuName:question_modify' question.id  %}' class='btn btn-dark'>수정</a>
        </span>
        <span>
            <a href ='#' class='delete btn btn-sm btn-danger' data-uri = "{% url 'yannjuName:question_delete' question.id %}">삭제</a>
        </span>
    {% endif %}

    <!--card 를 이용하여 사진 등 첨부 가능 : ex. yout ube 썸네일-->
    <div class = "card my-3">
        <div class = "card-body">
            <!--white space : 공백, 개행 등등 을 작성한 그대로-->
            <div class = "card-text" style = "white-space : pre-line;">
                {{question.content}}
            </div>
            <!--float와 비슷하게 정렬-->
            <div class = "d-flex justify-content-end">
                <!--badge : 사각형으로 둘러쌈-->
                <div class = "badge badge-light p-2">
                    {% comment %} <div class='mb-2'>{{question.auth.username}}</div> {% endcomment %}
                    <div>{{question.create_date}}</div>
                </div>
            </div>
        </div>
    </div>

    <h5 class = "border-bottom my-3 py-2">
        <i class="fa-solid fa-terminal"></i>
        {{question.answer_set.count}}개의 답변이 있습니다. ≡(▔﹏▔)≡
    </h5>

    {% for answer in question.answer_set.all %}
        <div class = "card my-3">
            <div class = "card-body">
                <div class = "card-text" style = "white-space : pre-line;">
                    {{answer.content}}
                </div>
                <div class = "d-flex justify-content-end">
                    <div class = "badge badge-light p-2">
                        <div class='mb-2'>{{answer.auth.username}}</div>
                        {{answer.create_date}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% comment %} <a href = "{% url 'index' %}">목록보기</a> {% endcomment %}
    <a href = "{% url 'yannjuName:index' %}">목록보기</a> <!--네임스페이스 설정-->

    <form action="{% url 'yannjuName:answer_create' question.id %}" method="post">
    {% comment %} <form action="" method="post"> {% endcomment %}
        {% csrf_token %}
        {% if form.errors %}
        <div class = "alert alert-danger" role = "alert">
            {% for field in form %}
                {% if field.errors and field.label == '답변 내용'%}
                    <strong>{{field.label}}</strong>
                    {{field.errors}}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class = "form-group"> <!-- 로그인 없이 답변 불가-->
            <textarea {% if not user.is_authenticated %} disabled='disabled'{% endif %} 
            name="content" id="content" class = 'form-control' rows="8"></textarea>
        </div>
        <input {% if not user.is_authenticated %} disabled='disabled'{% endif %} 
        type="submit" value="답변등록" class = 'btn btn-secondary'>
    </form>    
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
        /*
        $(".delete").on("click", funtion() {


        });*/
        console.log("Loading End")
        console.log($('.delete'));
    });
</script>
{% endblock script %}