<!--question_list : views에서 정의한 컨텍스트 변수-->
{% extends 'base.html' %}

{% block content %}
    <div class = 'row justify-content-end my-3'>
        <div class = 'col-4 input-group'>
            <input type='text' class = 'form-control kw' value = "{{kw|default_if_none:''}}">
            <div class = 'input-group-append'>
                <button class = 'btn btn-outline-secondary' type='button' id='btn_search'>검색</button>
            </div>
        </div>
    </div>

    <table class = 'table table-hover table-bordered'>
        <thead>
            <tr class = "thead-dark">
                <th style='width:50px'>번호</th>
                <th style='width:50px'>추천</th>
                <th>제목</th>
                <th style='width:80px'>작성자</th>
                <th style='width:150px'>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    {% comment %} <li><a href = '{{question.id}}'>{{question.subject}}</a></li> {% endcomment %}
                    <tr>
                        <td>{{question.id}}</td>
                        <td>
                            {% if question.voter.all.count > 0 %}
                                <span class='badge badge-secondary px-2 py-1'>
                                    {{question.voter.count}}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href = "{% url 'yannjuName:detail' question.id %}" style='color:navy'>{{question.subject}}</a>
                            {% if question.answer_set.count %}
                                <span class='ml-2'>
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <sub>{{question.answer_set.count}}</sub>
                                </span>
                            {% endif %}
                        </td>
                        <td>{{question.auth.username}}</td>
                        <td>{{question.create_date|date:'Y-m-d H:i'}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan = '3'>질문이 없습니다 . . ㅎ ㅅ ㅎ</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{% url 'yannjuName:question_create' %}" class="btn btn-info">
        <i class="fa-solid fa-pen"></i>
        질문 등록하기 (╯▽╰ )
    </a>

    <!--page목록 표시-->
    {% include './pagination.html' %}

    <!--어떻게 Submit? JS 로 보낼것-->
    <!-- 
        why 이렇게 해야하는가?
        검색 버튼을 눌렀을 때 kw, page 두가지 정보가 submit 되야하는데 !! page 번호를 클릭했을 때에도 kw, page 가 같이 넘어가야함 !!
        숨겨진 form 에 의해 동일하게 넘어갈 수 있음
    -->
    <form id = 'searchForm' method='get' action = "{% url 'yannjuName:index' %}">
        <input type='hidden' id = 'kw' name = 'kw' value = "{{kw|default_if_none:''}}">
        <input type = 'hidden' id = 'page' name = 'page' value = "{{page}}">
    </form>
{% endblock content %}

<!--Script Space-->
{% block script %}
<script type='text/javascript'>
    /*검색 버튼 id = btn_search
    pagination 은 class = 'page-link'*/
    $(document).ready(function() {
        $('.page-link').on('click', function() {
            $('#page').val($(this).data("page"));
            $("#searchForm").submit();
        });

        $("#btn_search").on('click', function() {
            $("#kw").val($(".kw").val());
            $('#page').val(1);
            $("#searchForm").submit();
        });
    });
</script>
{% endblock script %}