<!--question_list : views에서 정의한 컨텍스트 변수-->
{% extends 'base.html' %}

{% block content %}
    <table class = 'table table-hover table-bordered'>
        <thead>
            <tr class = "thead-dark">
                <th style='width:50px'>번호</th>
                <th>제목</th>
                <th style='width:80px'>작성자</th>
                <th style='width:150px'>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
                {% for question in question_list %}
                    {% comment %} <li><a href = '{{question.id}}'>{{question.subject}}</a></li> {% endcomment %}
                    <tr>
                        <td>{{question.id}}</td>
                        <td>
                            <a href = "{% url 'yannjuName:detail' question.id %}" style='color:navy'>{{question.subject}}</a>
                            {% if question.answer_set.count %}
                                <span class='ml-2'>
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <sub>{{question.answer_set.count}}</sub>
                                </span>
                            {% endif %}
                        </td>
                        <td>{{question.auth.username}}</td>
                        <td>{{question.create_date|date:'Y-m-d H:i'}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan = '3'>질문이 없습니다 . . ㅎ ㅅ ㅎ</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{% url 'yannjuName:question_create' %}" class="btn btn-info">
        <i class="fa-solid fa-pen"></i>
        질문 등록하기 (╯▽╰ )
    </a>

    <!--page목록 표시-->
    {% include './pagination.html' %}
{% endblock content %}